body {
	max-width: 100%;
}
nav {
	padding: 20px;
	border: solid black 1px;
	width: 300px;
	border-radius: 25px;
	text-align: center;
	font-family: sans-serif;
}

table {
	margin-left: 200px;
}

h1 {
	text-align: center;
	padding-top: 30px;
	font-family: sans-serif;
}

#logo {
	display: block;
	margin: auto;
	width:	50%;
	padding-bottom: 30px;
}

ul {
	background-image: url("barstrong.jpg");
	background-size: 100%;
	background-repeat: no-repeat;

	color: white;
	padding: 20px 5px 20px;
	font-size: 2em;
}

.words {
	font-family: "Georgia", serif;
}

.image {
	border-radius: 15px;
}

.label {
	font-size: 150%;
	font-style: oblique;
}

a:link {
	color: black;
}

a:visited {
	color:red;
}

.g-image {
	width: 50%;
}

/*Responsive Code Below*/

@media screen and (max-width: 500px) {
	.g-image {
		width: 100%;

	}
}